{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Coffee & Wifi 💻</h1>
  <p class="lead">Want to work in a cafe but need power and wifi?</p>
  <hr class="my-4">
  <p>You've found the right place! Use this API to find a cafe with data on power socket availability, wifi speed and coffee quality.</p>
  <a class="btn btn-warning btn-lg" href="https://web.postman.co/workspace/My-Workspace~76d84dac-8884-4c4a-830f-53c21f3353be/documentation/40364885-5e4b3782-51d5-44b3-ab79-7176a0afdc42" target="_blank", role="button">Documentation</a>
</div>
    </div>

{% endblock %}
