{% extends 'base.html' %}
{% block title %}Cafes{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Random Cafe</h1>

      <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Seats</th>
              <th scope="col">Toilets</th>
              <th scope="col">Wifi</th>
              <th scope="col">Sockets</th>
              <th scope="col">Coffee Price</th>
              <th scope="col">Google Maps</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ cafe.name }}</td>
              <td>{{ cafe.location }}</td>
              <td>{{ cafe.seats }}</td>
              <td>{{ cafe.has_toilet }}</td>
              <td>{{ cafe.has_wifi }}</td>
              <td>{{ cafe.has_sockets }}</td>
              <td>{{ cafe.coffee_price }}</td>
              <td>
                <a href="{{ cafe.map_url }}" target="_blank">Show in Google Maps</a>
              </td>
            </tr>
          </tbody>
      </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}